body{
    padding: 10%;
    text-align: center;
}
div{
    text-align: center;
}
p{
    display: inline;
}
.room div{
    display: inline;
}
.room, input{
    position: relative;
    margin: 0 auto;
    border: 1px solid rgb(211, 211, 211);
    margin-bottom: 5px;
    width: 50%;
    cursor: pointer;
}
.room{
    padding: 0 10px;
    text-align: left;
    word-wrap: break-word;
}
input{
    font-size: larger;
    font-weight: bolder;
}
.capacityInfo{
    float: right;
}
.modal1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid rgb(211, 211, 211);
    border-radius: 10px;
    z-index: 10;
    max-width: 80%;
    padding: 10px 15px;
    background-color: white;
}
.modal1.active{
    transform: translate(-50%, -50%) scale(1);

}
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}
form div{
    display: flex;
    margin-bottom: 3px;
}
form input[type="button"]{
    border-radius: 5px;
    font-weight: normal;
}
.inp{
    margin-right: 0;
    margin-left: auto;
    font-weight: normal;
}